@import url(./__triangle/kaufman__triangle.css);
@import url(./__triangle/kaufman__triangle_hover.css);
@import url(./kaufman.css);
@import url(./section-title/theme/section-title_theme_dark.css);
@import url(./section-subtitle/theme/section-subtitle_theme_dark.css);
@import url(./table/__cell/table__cell_theme_dark.css);
@import url(./table/heading/theme/table__heading_theme_dark.css);
@import url(./table/text/theme/table__text_theme_dark.css);
@import url(./table/theme/table_theme_dark.css);
@import url(./rotation/rotation.css);

.kaufman {
  background-color:#000000;
  overflow: hidden;
  position: relative;
}
