@import url(./oakley__two-columns/oakley__two-columns.css);
@import url(./oakley__two-columns/_brief/oakley__two-columns_brief.css.css);
@import url(./oakley__two-columns/_main-text/oakley__two-columns_main-text.css);
@import url(./oakley__two-columns/_paragraph/oakley__two-columns_paragraph.css);

.oakley {
  min-height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 1;
  background-color: #F2F2F2;
}
