@import url(./__two-columns/description__two-columns.css);
@import url(./__two-columns/_brief/description__two-columns_brief.css);
@import url(./__two-columns/_main-text/description__two-columns__main-text.css);
@import url(./__two-columns/_paragraph/description__two-columns_paragraph.css);
@import url(./__two-columns/_span-accent/description__two-columns_span-accent.css);

.description {
  min-height: auto;
  padding-top: 100px;
  z-index: 1;
}