.oakley__two-columns_paragraph {
  display: block;
  object-fit: contain;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  font-size: 24px;
  z-index: 4;
  min-height: 100px;
  max-width: 5000px;
}